<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <?include $(sys.CURRENTDIR)\Config.wxi?>
    <Fragment>
        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch $(var.Product_Name)" />
        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1" />
        <CustomAction Id="LaunchApplication" ExeCommand="" Return="asyncNoWait" Impersonate="yes" FileRef="MainExecutable" />

        <UI Id="StartOnExit">
            <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication" Condition="WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed" />
        </UI>

        <UIRef Id="WixUI_Common" />
    </Fragment>
</Wix>
