<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?include $(sys.CURRENTDIR)\Config.wxi?>
    <Fragment>
        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch $(var.Product_Name)" />
        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1" />
        <CustomAction Id="LaunchApplication" FileKey="MainExecutable" ExeCommand="" Return="asyncNoWait" Impersonate="yes" />

        <UI Id="StartOnExit">
            <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">
                WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed
            </Publish>
        </UI>

        <UIRef Id="WixUI_Common" />
    </Fragment>
</Wix>
