<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <?include $(sys.CURRENTDIR)\Config.wxi?>
    <Package Name="$(var.Product_Name)" Language="1033" Codepage="1252" Version="$(var.Product_Version)" Manufacturer="$(var.Product_Manufacturer)" UpgradeCode="$(var.UpgradeCode)" InstallerVersion="200"><SummaryInformation Keywords="Installer" Description="$(var.Product_Manufacturer)'s $(var.Product_Name) $(var.Product_Version) Installer" Manufacturer="$(var.Product_Manufacturer)" />

        <Upgrade Id="$(var.UpgradeCode)">
            <UpgradeVersion OnlyDetect="no" Property="PREVIOUSFOUND" Minimum="0.0.0" IncludeMinimum="yes" Maximum="$(var.Product_Version)" IncludeMaximum="no" />
        </Upgrade>
        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

        <MediaTemplate EmbedCab="yes" />

        <!--Check for .Net Framework 4.7.2-->
        <PropertyRef Id="NETFRAMEWORK45" />
        <Launch Condition="Installed OR NETFRAMEWORK45" Message="This application requires .NET Framework 4.7.2. Please install the .NET Framework then run this installer again." />

        <Icon Id="I.MainIcon.ico" SourceFile="$(var.Product_Icon)" />
        
        
        
        <Property Id="ARPPRODUCTICON" Value="I.MainIcon.ico" />
        <Property Id="ARPNOREPAIR" Value="1" />

        <WixVariable Id="WixUIBannerBmp" Value="Resources/Banner.bmp" />
        <WixVariable Id="WixUIDialogBmp" Value="Resources/Dialog.bmp" />

        <UIRef Id="WixUI_CustomMondo" />

        <Feature Id="Options" Title="$(var.Product_Name)" Display="expand" Level="1" ConfigurableDirectory="INSTALLFOLDER" AllowAdvertise="no" AllowAbsent="no">
            <ComponentRef Id="C.MainExecutable" />
            <ComponentGroupRef Id="$(var.MainComponentGroup)" />

            <Feature Id="StartMenuEntry" Title="Start menu entries" Level="1" AllowAdvertise="no">
                <ComponentRef Id="C.ProgramMenuDir" />
            </Feature>

            <Feature Id="StartupEntry" Title="Startup entry" Level="1" AllowAdvertise="no">
                <ComponentRef Id="C.StartupFolder" />
            </Feature>

            <Feature Id="DesktopEntry" Title="Desktop shortcut" Level="4" AllowAdvertise="no">
                <ComponentRef Id="C.DesktopShortcut" />
            </Feature>
        </Feature>
    </Package>
</Wix>