<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLDIR">
            <Component Id="cmpA263D385FC755CB114F605F6C820CA54" Guid="{DD6C7311-66B1-4989-9BED-270A73C5BE6A}">
                <File Id="filCE3F820DD20BE0855DEFCE5B9414B87D" KeyPath="yes" Source="$(var.BasePath)\Hardcodet.Wpf.TaskbarNotification.dll" />
            </Component>
            <Component Id="cmpD260DC351EC81A0F26BF7DFC4D4408EE" Guid="{B6D02906-3FC5-481A-903F-C62451903CCD}">
                <File Id="fil1FEACF4D5D2B967B7918AD6377343597" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Configuration.Abstractions.dll" />
            </Component>
            <Component Id="cmpC7FA0F5D4FC16B2C65069E101C3CDF1F" Guid="{6475A4AA-C569-4FA0-A79F-0AD3F6121AD8}">
                <File Id="fil670FF9D8C6C61DA8C38498D3D55763B6" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Configuration.Binder.dll" />
            </Component>
            <Component Id="cmpA68E778F1D7D2F60DB632AAD027FEA97" Guid="{331C9686-B9CC-448A-A4C3-9EE74FEAE161}">
                <File Id="filB8495885E80044AB9603F88738A4C9B4" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Configuration.dll" />
            </Component>
            <Component Id="cmp298BC5B37CA8C07EC92A0E5D40538042" Guid="{5BA96FA6-7C7B-4532-A018-F0E22F92AB3C}">
                <File Id="fil48146EFA804659308973D873F0252345" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Configuration.FileExtensions.dll" />
            </Component>
            <Component Id="cmp3DD83D520E625620C7BD4F55FD5768CD" Guid="{45462C87-9C94-43BD-87A1-0ABB9D70A6D5}">
                <File Id="fil11B19ABE63105CD3CE2E7BC6F0B063FC" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Configuration.Json.dll" />
            </Component>
            <Component Id="cmpBED9022C9CD94A23E72B0D422CCAEEC6" Guid="{6CFEB90C-4C5A-4590-95C8-76C1A4F0CE83}">
                <File Id="fil2108D83F82D55B49D8103E27D77BDFDE" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
            </Component>
            <Component Id="cmpFD639A9D3D4D6AA604F5EB7FB334C830" Guid="{3D929BC9-FBA6-48CA-88CE-2E7C28FC1BB2}">
                <File Id="filA516C15B7E61996C7D263C0A42814C3F" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.DependencyInjection.dll" />
            </Component>
            <Component Id="cmp9FD912282D15F41E038568645420F573" Guid="{BD24C84A-252B-4505-A43D-DB67FB898DAF}">
                <File Id="fil62C6DEDCE27F3904041E09D4BA69211F" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.FileProviders.Abstractions.dll" />
            </Component>
            <Component Id="cmpE245AF4E56033540BBDFDF9AE650AD54" Guid="{ED5C79A8-DFDF-49ED-83E0-8FDF88E3F60D}">
                <File Id="filAF8DE62578E8AE75DF8E32E4296023C5" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.FileProviders.Physical.dll" />
            </Component>
            <Component Id="cmp63FBCF19029B83249CA57D9278E41E71" Guid="{4C9E1BA9-581B-4BA2-A8D2-E1624EB2B98F}">
                <File Id="fil264DD14CFE0C23400444D282D2288191" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.FileSystemGlobbing.dll" />
            </Component>
            <Component Id="cmp8F9F07106E7690B5033E560CD36972AD" Guid="{50774F83-7F22-4B74-9876-D69028BE247C}">
                <File Id="fil99C4D92E14C510B2E3005545A5A0D96A" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Logging.Abstractions.dll" />
            </Component>
            <Component Id="cmp5C6456A716AB613E8F89456DE14F4E27" Guid="{1300C3EB-F89E-4561-BD13-CF576B2C36D5}">
                <File Id="filC5F69BFCB66DC4F4FD2F2E10DBE0A0B2" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Options.ConfigurationExtensions.dll" />
            </Component>
            <Component Id="cmp4608CA2FC66F221E808AF3FD03F56DEA" Guid="{CD2E0074-BC3C-42B6-97E8-A1D7A77F2DB6}">
                <File Id="fil29944CE24D2F4CE317941BCDFA8B5FE3" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Options.dll" />
            </Component>
            <Component Id="cmpA57E038D78392C02DC9072B9436713ED" Guid="{0401B618-478B-4BBB-A0CE-9D86C11C9B52}">
                <File Id="fil101327A254DDD17E94E9880E128F3819" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Primitives.dll" />
            </Component>
            <Component Id="cmp6107C12C2A55CB8E7E97FF2C9A33F385" Guid="{048F8DE8-268B-46D5-AF89-F2C61B7001A2}">
                <File Id="fil135F9AEEB4A74E1EE438100986E97C41" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Xaml.Behaviors.dll" />
            </Component>
            <Component Id="cmp1874AB219070404EED322213C6A1A49E" Guid="{557286F4-9EF1-491D-BBB3-82F440C81878}">
                <File Id="fil05FF769999D602AD4FA6A489C44ED290" KeyPath="yes" Source="$(var.BasePath)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="cmp4987A12F91B834B985ADB612F38026B0" Guid="{F678E3C5-7221-477B-8A8A-66E2145FB148}">
                <File Id="fil4F83F13F1555091B8DEBF43FC616B1BB" KeyPath="yes" Source="$(var.BasePath)\System.Management.dll" />
            </Component>
            <Component Id="cmp33CDCF25C19FEBE770DBB564DD2F9420" Guid="{18C5BB01-F46C-4F81-9A03-1B17FEB00E99}">
                <File Id="fil2FA55858BB5018D4BEACE740EC71A067" KeyPath="yes" Source="$(var.BasePath)\System.Reactive.dll" />
            </Component>
            
            <Component Id="cmp8286B5CA2AF0A737938936962F034702" Guid="{AFB467EC-45F1-484A-9615-676C9C4DA1ED}">
                <File Id="fil65B1D7440418CC66140A8AD148FA28FC" KeyPath="yes" Source="$(var.BasePath)\SystemInfo.Core.dll" />
            </Component>
            
            <Component Id="cmp90F7B3D5019E703ACA013F70DD8C7362" Guid="{52DED683-B58F-4909-91FC-DBE76598C45E}">
                <File Id="filE3CFE4638F24722F5CD168EEC036FF34" KeyPath="yes" Source="$(var.BasePath)\SystemInfo.WPF.deps.json" />
            </Component>
            <Component Id="cmp07BC68CDCFEFAD4E53229B09CE54CA9D" Guid="{06E18B94-524A-40F5-B801-3EA75EE5179E}">
                <File Id="filD52E8E7BDBBF26C7B441294E80528C9F" KeyPath="yes" Source="$(var.BasePath)\SystemInfo.WPF.dll" />
            </Component>
            <Component Id="cmpDB6AAD57DC6EB45DEEC442BBDA3D62BD" Guid="{7EE68662-C3BA-418B-B4CB-5ADA8B3B0AD4}">
                <File Id="fil4DC261700E4A3A4B1D550ED105A2BD8A" KeyPath="yes" Source="$(var.BasePath)\SystemInfo.WPF.dll.config" />
            </Component>
            
            
            <Component Id="cmp3D4A57F85F61019D83D1B801F6AA7B62" Guid="{B36199C4-FE4B-4279-86CD-F753147448A2}">
                <File Id="fil82AF329C03CC968F7D1BD880259D73CE" KeyPath="yes" Source="$(var.BasePath)\SystemInfo.WPF.runtimeconfig.json" />
            </Component>
            <Component Id="cmp961A8D3E88A49BF3F4F7E778F109806C" Guid="{D04D251B-738D-430B-8B80-2ED9287BBEB3}">
                <File Id="fil6F9162CAC11C26142316D509FE4A32F8" KeyPath="yes" Source="$(var.BasePath)\VectronsLibrary.DI.Abstraction.dll" />
            </Component>
            <Component Id="cmp29D235A310BECEFAE52C3F057588B11E" Guid="{3F8541CE-9D45-4411-A4FE-D8075001B474}">
                <File Id="fil89F285AAC9D81A98D81DCDB85948A3BF" KeyPath="yes" Source="$(var.BasePath)\VectronsLibrary.DI.dll" />
            </Component>
            <Component Id="cmpAB7E7BDA7F98B018B8FF0224B80AA917" Guid="{19501EFE-225F-4802-9B71-40DD93C205EB}">
                <File Id="filCBC309AF5FCAB3502D580A3C8C8C6951" KeyPath="yes" Source="$(var.BasePath)\VectronsLibrary.dll" />
            </Component>
            <Component Id="cmpD58C86CE3166F41DCB02DBD326F65706" Guid="{2A793D00-5AB6-4A51-875F-BBEF00F76399}">
                <File Id="filAE25ED89B5A8E0C3077930204FCD2F6F" KeyPath="yes" Source="$(var.BasePath)\VectronsLibrary.Wpf.dll" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="CG.SystemInfo_Project">
            <ComponentRef Id="cmpA263D385FC755CB114F605F6C820CA54" />
            <ComponentRef Id="cmpD260DC351EC81A0F26BF7DFC4D4408EE" />
            <ComponentRef Id="cmpC7FA0F5D4FC16B2C65069E101C3CDF1F" />
            <ComponentRef Id="cmpA68E778F1D7D2F60DB632AAD027FEA97" />
            <ComponentRef Id="cmp298BC5B37CA8C07EC92A0E5D40538042" />
            <ComponentRef Id="cmp3DD83D520E625620C7BD4F55FD5768CD" />
            <ComponentRef Id="cmpBED9022C9CD94A23E72B0D422CCAEEC6" />
            <ComponentRef Id="cmpFD639A9D3D4D6AA604F5EB7FB334C830" />
            <ComponentRef Id="cmp9FD912282D15F41E038568645420F573" />
            <ComponentRef Id="cmpE245AF4E56033540BBDFDF9AE650AD54" />
            <ComponentRef Id="cmp63FBCF19029B83249CA57D9278E41E71" />
            <ComponentRef Id="cmp8F9F07106E7690B5033E560CD36972AD" />
            <ComponentRef Id="cmp5C6456A716AB613E8F89456DE14F4E27" />
            <ComponentRef Id="cmp4608CA2FC66F221E808AF3FD03F56DEA" />
            <ComponentRef Id="cmpA57E038D78392C02DC9072B9436713ED" />
            <ComponentRef Id="cmp6107C12C2A55CB8E7E97FF2C9A33F385" />
            <ComponentRef Id="cmp1874AB219070404EED322213C6A1A49E" />
            <ComponentRef Id="cmp4987A12F91B834B985ADB612F38026B0" />
            <ComponentRef Id="cmp33CDCF25C19FEBE770DBB564DD2F9420" />
            
            <ComponentRef Id="cmp8286B5CA2AF0A737938936962F034702" />
            
            <ComponentRef Id="cmp90F7B3D5019E703ACA013F70DD8C7362" />
            <ComponentRef Id="cmp07BC68CDCFEFAD4E53229B09CE54CA9D" />
            <ComponentRef Id="cmpDB6AAD57DC6EB45DEEC442BBDA3D62BD" />
            
            
            <ComponentRef Id="cmp3D4A57F85F61019D83D1B801F6AA7B62" />
            <ComponentRef Id="cmp961A8D3E88A49BF3F4F7E778F109806C" />
            <ComponentRef Id="cmp29D235A310BECEFAE52C3F057588B11E" />
            <ComponentRef Id="cmpAB7E7BDA7F98B018B8FF0224B80AA917" />
            <ComponentRef Id="cmpD58C86CE3166F41DCB02DBD326F65706" />
        </ComponentGroup>
    </Fragment>
</Wix>