<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?include $(sys.CURRENTDIR)\Config.wxi?>
    <Fragment>
        <DirectoryRef Id ="INSTALLFOLDER">
            <Component Id ="C.Hardcodet.Wpf.TaskbarNotification.dll"
                       Guid="*"
                       Shared="no"
                       Permanent="no">
                <File Source="$(var.Product_Source_Folder)Hardcodet.Wpf.TaskbarNotification.dll"
                      KeyPath="yes" />
            </Component>

            <Component Id ="C.Microsoft.Expression.Interactions.dll"
                       Guid="*"
                       Shared="no"
                       Permanent="no">
                <File Source="$(var.Product_Source_Folder)Microsoft.Expression.Interactions.dll"
                      KeyPath="yes" />
            </Component>

            <Component Id ="C.Microsoft.Extensions.Configuration.Abstractions.dll"
                       Guid="*"
                       Shared="no"
                       Permanent="no">
                <File Source="$(var.Product_Source_Folder)Microsoft.Extensions.Configuration.Abstractions.dll"
                      KeyPath="yes" />
            </Component>

            <Component Id ="C.Microsoft.Extensions.Configuration.Binder.dll"
                       Guid="*"
                       Shared="no"
                       Permanent="no">
                <File Source="$(var.Product_Source_Folder)Microsoft.Extensions.Configuration.Binder.dll"
                      KeyPath="yes" />
            </Component>

            <Component Id ="C.Microsoft.Extensions.Configuration.dll"
                       Guid="*"
                       Shared="no"
                       Permanent="no">
                <File Source="$(var.Product_Source_Folder)Microsoft.Extensions.Configuration.dll"
                      KeyPath="yes" />
            </Component>

            <Component Id ="C.Microsoft.Extensions.Configuration.FileExtensions.dll"
                       Guid="*"
                       Shared="no"
                       Permanent="no">
                <File Source="$(var.Product_Source_Folder)Microsoft.Extensions.Configuration.FileExtensions.dll"
                      KeyPath="yes" />
            </Component>

            <Component Id ="C.Microsoft.Extensions.Configuration.Json.dll"
                       Guid="*"
                       Shared="no"
                       Permanent="no">
                <File Source="$(var.Product_Source_Folder)Microsoft.Extensions.Configuration.Json.dll"
                      KeyPath="yes" />
            </Component>

            <Component Id ="C.Microsoft.Extensions.DependencyInjection.Abstractions.dll"
                       Guid="*"
                       Shared="no"
                       Permanent="no">
                <File Source="$(var.Product_Source_Folder)Microsoft.Extensions.DependencyInjection.Abstractions.dll"
                      KeyPath="yes" />
            </Component>

            <Component Id ="C.Microsoft.Extensions.DependencyInjection.dll"
                       Guid="*"
                       Shared="no"
                       Permanent="no">
                <File Source="$(var.Product_Source_Folder)Microsoft.Extensions.DependencyInjection.dll"
                      KeyPath="yes" />
            </Component>

            <Component Id ="C.Microsoft.Extensions.FileProviders.Abstractions.dll"
                       Guid="*"
                       Shared="no"
                       Permanent="no">
                <File Source="$(var.Product_Source_Folder)Microsoft.Extensions.FileProviders.Abstractions.dll"
                      KeyPath="yes" />
            </Component>

            <Component Id ="C.Microsoft.Extensions.FileProviders.Physical.dll"
                       Guid="*"
                       Shared="no"
                       Permanent="no">
                <File Source="$(var.Product_Source_Folder)Microsoft.Extensions.FileProviders.Physical.dll"
                      KeyPath="yes" />
            </Component>

            <Component Id ="C.Microsoft.Extensions.FileSystemGlobbing.dll"
                       Guid="*"
                       Shared="no"
                       Permanent="no">
                <File Source="$(var.Product_Source_Folder)Microsoft.Extensions.FileSystemGlobbing.dll"
                      KeyPath="yes" />
            </Component>

            <Component Id ="C.Microsoft.Extensions.Logging.Abstractions.dll"
                       Guid="*"
                       Shared="no"
                       Permanent="no">
                <File Source="$(var.Product_Source_Folder)Microsoft.Extensions.Logging.Abstractions.dll"
                      KeyPath="yes" />
            </Component>

            <Component Id ="C.Microsoft.Extensions.Options.ConfigurationExtensions.dll"
                       Guid="*"
                       Shared="no"
                       Permanent="no">
                <File Source="$(var.Product_Source_Folder)Microsoft.Extensions.Options.ConfigurationExtensions.dll"
                      KeyPath="yes" />
            </Component>

            <Component Id ="C.Microsoft.Extensions.Options.dll"
                       Guid="*"
                       Shared="no"
                       Permanent="no">
                <File Source="$(var.Product_Source_Folder)Microsoft.Extensions.Options.dll"
                      KeyPath="yes" />
            </Component>

            <Component Id ="C.Microsoft.Extensions.Primitives.dll"
                       Guid="*"
                       Shared="no"
                       Permanent="no">
                <File Source="$(var.Product_Source_Folder)Microsoft.Extensions.Primitives.dll"
                      KeyPath="yes" />
            </Component>

            <Component Id ="C.Newtonsoft.Json.dll"
                       Guid="*"
                       Shared="no"
                       Permanent="no">
                <File Source="$(var.Product_Source_Folder)Newtonsoft.Json.dll"
                      KeyPath="yes" />
            </Component>

            <Component Id ="C.System.Buffers.dll"
                       Guid="*"
                       Shared="no"
                       Permanent="no">
                <File Source="$(var.Product_Source_Folder)System.Buffers.dll"
                      KeyPath="yes" />
            </Component>

            <Component Id ="C.System.ComponentModel.Annotations.dll"
                       Guid="*"
                       Shared="no"
                       Permanent="no">
                <File Source="$(var.Product_Source_Folder)System.ComponentModel.Annotations.dll"
                      KeyPath="yes" />
            </Component>

            <Component Id ="C.System.Memory.dll"
                       Guid="*"
                       Shared="no"
                       Permanent="no">
                <File Source="$(var.Product_Source_Folder)System.Memory.dll"
                      KeyPath="yes" />
            </Component>

            <Component Id ="C.System.Numerics.Vectors.dll"
                       Guid="*"
                       Shared="no"
                       Permanent="no">
                <File Source="$(var.Product_Source_Folder)System.Numerics.Vectors.dll"
                      KeyPath="yes" />
            </Component>

            <Component Id ="C.System.Reactive.dll"
                       Guid="*"
                       Shared="no"
                       Permanent="no">
                <File Source="$(var.Product_Source_Folder)System.Reactive.dll"
                      KeyPath="yes" />
            </Component>

            <Component Id ="C.System.Runtime.CompilerServices.Unsafe.dll"
                       Guid="*"
                       Shared="no"
                       Permanent="no">
                <File Source="$(var.Product_Source_Folder)System.Runtime.CompilerServices.Unsafe.dll"
                      KeyPath="yes" />
            </Component>

            <Component Id ="C.System.Threading.Tasks.Extensions.dll"
                       Guid="*"
                       Shared="no"
                       Permanent="no">
                <File Source="$(var.Product_Source_Folder)System.Threading.Tasks.Extensions.dll"
                      KeyPath="yes" />
            </Component>

            <Component Id ="C.System.ValueTuple.dll"
                       Guid="*"
                       Shared="no"
                       Permanent="no">
                <File Source="$(var.Product_Source_Folder)System.ValueTuple.dll"
                      KeyPath="yes" />
            </Component>

            <Component Id ="C.System.Windows.Interactivity.dll"
                       Guid="*"
                       Shared="no"
                       Permanent="no">
                <File Source="$(var.Product_Source_Folder)System.Windows.Interactivity.dll"
                      KeyPath="yes" />
            </Component>

            <Component Id ="C.SystemInfo.Core.dll"
                       Guid="*"
                       Shared="no"
                       Permanent="no">
                <File Source="$(var.Product_Source_Folder)SystemInfo.Core.dll"
                      KeyPath="yes" />
            </Component>

            <Component Id ="C.SystemInfo.WPF.exe.config"
                       Guid="*"
                       Shared="no"
                       Permanent="no">
                <File Source="$(var.Product_Source_Folder)SystemInfo.WPF.exe.config"
                      KeyPath="yes" />
            </Component>

            <Component Id ="C.VectronsLibrary.DI.Abstraction.dll"
                       Guid="*"
                       Shared="no"
                       Permanent="no">
                <File Source="$(var.Product_Source_Folder)VectronsLibrary.DI.Abstraction.dll"
                      KeyPath="yes" />
            </Component>

            <Component Id ="C.VectronsLibrary.DI.dll"
                       Guid="*"
                       Shared="no"
                       Permanent="no">
                <File Source="$(var.Product_Source_Folder)VectronsLibrary.DI.dll"
                      KeyPath="yes" />
            </Component>

            <Component Id ="C.VectronsLibrary.dll"
                       Guid="*"
                       Shared="no"
                       Permanent="no">
                <File Source="$(var.Product_Source_Folder)VectronsLibrary.dll"
                      KeyPath="yes" />
            </Component>

            <Component Id ="C.VectronsLibrary.Wpf.dll"
                       Guid="*"
                       Shared="no"
                       Permanent="no">
                <File Source="$(var.Product_Source_Folder)VectronsLibrary.Wpf.dll"
                      KeyPath="yes" />
            </Component>
        </DirectoryRef>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="CG.SystemInfo.WPF">
            <ComponentRef Id ="C.Hardcodet.Wpf.TaskbarNotification.dll" />
            <ComponentRef Id ="C.Microsoft.Expression.Interactions.dll" />
            <ComponentRef Id ="C.Microsoft.Extensions.Configuration.Abstractions.dll" />
            <ComponentRef Id ="C.Microsoft.Extensions.Configuration.Binder.dll" />
            <ComponentRef Id ="C.Microsoft.Extensions.Configuration.dll" />
            <ComponentRef Id ="C.Microsoft.Extensions.Configuration.FileExtensions.dll" />
            <ComponentRef Id ="C.Microsoft.Extensions.Configuration.Json.dll" />
            <ComponentRef Id ="C.Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
            <ComponentRef Id ="C.Microsoft.Extensions.DependencyInjection.dll" />
            <ComponentRef Id ="C.Microsoft.Extensions.FileProviders.Abstractions.dll" />
            <ComponentRef Id ="C.Microsoft.Extensions.FileProviders.Physical.dll" />
            <ComponentRef Id ="C.Microsoft.Extensions.FileSystemGlobbing.dll" />
            <ComponentRef Id ="C.Microsoft.Extensions.Logging.Abstractions.dll" />
            <ComponentRef Id ="C.Microsoft.Extensions.Options.ConfigurationExtensions.dll" />
            <ComponentRef Id ="C.Microsoft.Extensions.Options.dll" />
            <ComponentRef Id ="C.Microsoft.Extensions.Primitives.dll" />
            <ComponentRef Id ="C.Newtonsoft.Json.dll" />
            <ComponentRef Id ="C.System.Buffers.dll" />
            <ComponentRef Id ="C.System.ComponentModel.Annotations.dll" />
            <ComponentRef Id ="C.System.Memory.dll" />
            <ComponentRef Id ="C.System.Numerics.Vectors.dll" />
            <ComponentRef Id ="C.System.Reactive.dll" />
            <ComponentRef Id ="C.System.Runtime.CompilerServices.Unsafe.dll" />
            <ComponentRef Id ="C.System.Threading.Tasks.Extensions.dll" />
            <ComponentRef Id ="C.System.ValueTuple.dll" />
            <ComponentRef Id ="C.System.Windows.Interactivity.dll" />
            <ComponentRef Id ="C.SystemInfo.Core.dll" />
            <ComponentRef Id ="C.SystemInfo.WPF.exe.config" />
            <ComponentRef Id ="C.VectronsLibrary.DI.Abstraction.dll" />
            <ComponentRef Id ="C.VectronsLibrary.DI.dll" />
            <ComponentRef Id ="C.VectronsLibrary.dll" />
            <ComponentRef Id ="C.VectronsLibrary.Wpf.dll" />
        </ComponentGroup>
    </Fragment>
</Wix>