<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?include $(sys.CURRENTDIR)\Config.wxi?>
    <Fragment>
        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch $(var.Product_Name)" />
        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1" />
        <CustomAction Id="LaunchApplication" FileKey="MainExecutable" ExeCommand="" Return="asyncNoWait" Impersonate="yes" />

        <UI Id="WixUI_CustomInstallDir">
            <!--<UIRef Id="WixUI_InstallDir" />-->
            <UIRef Id="WixUI_FeatureTree" />
            <UIRef Id="WixUI_ErrorProgressText" />

            <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="CustomizeDlg">NOT Installed</Publish>

            <Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">NOT Installed</Publish>

            <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">
                WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed
            </Publish>
        </UI>

        <UIRef Id="WixUI_Common" />
    </Fragment>
</Wix>