<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="DesktopShortcutComponents" Directory="DesktopFolder">
      <Component>
        <Shortcut
          Name="!(bind.property.ProductName)"
          Advertise="false"
          Icon="MainIcon"
          Target="[#MainExecutable]" />

        <RegistryValue Root="HKCU" Key="SOFTWARE\[Manufacturer]\[ProductName]" Name="DTSC" Type="integer" Value="1" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
