<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <?include $(sys.CURRENTDIR)\Config.wxi?>
    <Fragment>
            <StandardDirectory Id="DesktopFolder">
                <Component Id="C.DesktopShortcut">
                    <Shortcut Id="S.MainExeDesktop" Name="$(var.Product_Name)" WorkingDirectory="INSTALLFOLDER" Icon="I.MainIcon.ico" IconIndex="0" Target="[INSTALLFOLDER]$(var.MainExeID)" />

                    <RegistryKey Id="RK.RegDesktopShortcut" Root="HKCU" Key="SOFTWARE\[Manufacturer]\[ProductName]" ForceDeleteOnUninstall="yes">
                        <RegistryValue Type="integer" Name="DTSC" Value="1" KeyPath="yes" />
                    </RegistryKey>
                </Component>
            </StandardDirectory>
        </Fragment>
</Wix>