<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <?include $(sys.CURRENTDIR)\Config.wxi?>
    <Fragment>
            <StandardDirectory Id="ProgramFilesFolder">
                <Directory Id="D.ManufactuarFolder" Name="$(var.Product_Manufacturer)">
                    <Directory Id="INSTALLFOLDER" Name="$(var.Product_Name)">
                        <Component Id="C.MainExecutable" Shared="no" Permanent="no">

                            <File Id="MainExecutable" Source="$(var.Product_Source_Folder)$(var.MainExeID)" Vital="yes" KeyPath="yes" />
                            
                            <RegistryKey Id="RK.RegInstallDir" Root="HKLM" Key="SOFTWARE\[Manufacturer]\[ProductName]" ForceDeleteOnUninstall="yes">
                                <RegistryValue Type="string" Name="INSTALLFOLDER" Value="[INSTALLFOLDER]" />
                            </RegistryKey>
                        </Component>
                    </Directory>
                </Directory>
            </StandardDirectory>
        </Fragment>
</Wix>