<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?include $(sys.CURRENTDIR)\Config.wxi?>
    <Fragment>
        <DirectoryRef Id="TARGETDIR">
            <!--Install directory-->
            <Directory Id="$(var.PlatformProgramFilesFolder)">
                <Directory Id="D.ManufactuarFolder" Name ="$(var.Product_Manufacturer)">
                    <Directory Id="INSTALLDIR" Name="$(var.Product_Name)">
                        <Component Id="C.MainExecutable"
                                   Guid="*" Shared="no"
                                   Permanent="no"
                                   Win64="$(var.Win64)">
                            <File Id="MainExecutable" Source="$(var.BasePath)$(var.MainExeID)" Vital="yes" KeyPath="yes" />
                            <RegistryKey Id="RK.RegInstallDir" Root="HKLM" Key="SOFTWARE\[Manufacturer]\[ProductName]" ForceDeleteOnUninstall="yes">
                                <RegistryValue Type="string" Name="INSTALLDIR" Value="[INSTALLDIR]" />
                            </RegistryKey>
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
</Wix>